<section id="weather">
<div class="container">
  <h3>Weather Station</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		
			<p>
				These are the current temperature, pressure and humidity values in my location: <b>Cluj-Napoca, Romania</b>.
			</p>
			<p>
				These measurments are taken with a <b>BME280</b> environmental sensor from Bosch and are uploaded to 
				<a href="http://www.ubidots.com">Ubidots.com</a> using an <b>ESP8266 running NodeMCU Lua</b>.
			</p>
			<!--<p>
				For more details, please visit TODO.
			</p> -->

			<div style="margin: auto; width: 326px; border: 3px solid green;">
				<iframe width="320" height="180" frameborder="0" src="https://app.ubidots.com/ubi/getchart/WS3rZrdKwpG5GGCenEdsZIKnTiU"></iframe>
			</div>
			<iframe width="100%" height="280" frameborder="0" src="https://app.ubidots.com/ubi/getchart/F_DLGUYQDycVY9Rz2iECcrUhMOk"></iframe>

			<div style="margin: auto; width: 326px; border: 3px solid green;">
				<iframe width="320" height="180" frameborder="0" src="https://app.ubidots.com/ubi/getchart/y-RgByPYIGKB_COzX57I0oXIhZM"></iframe>
			</div>
			<iframe width="100%" height="280" frameborder="0" src="https://app.ubidots.com/ubi/getchart/Ru6-kCDX9w32bCfjn1jgY9PV5v0"></iframe>

			<div style="margin: auto; width: 326px; border: 3px solid green;">
				<iframe width="320" height="180" frameborder="0" src="https://app.ubidots.com/ubi/getchart/EeOsCvCKnoAlS_41BtD41C8-tWw"></iframe>
			</div>
			<iframe width="100%" height="280" frameborder="0" src="https://app.ubidots.com/ubi/getchart/5dniihuQCpVgooqqDXmWtxAICCc"></iframe>

    </div>
  </div>
</div>
</section>
